* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;

}


.header {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


}

.button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 15px 20px;
    color: antiquewhite;
    border-radius: 10px;
    font-size: 20px;


}

.header-title {
    font-size: 50px;
    text-align: center;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 60px;
}

.header-description {
    color: white;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 60px;
    text-align: center;

}

.header a {
    margin-left: 42%;
    margin-right: 42%;

}

.donate {
    margin: 10% 25%;
    border-bottom: 1px solid #DADADA;
}

.donate-header {
    text-align: center;
    font-size: 50px;
    padding-bottom: 30px;
}

.donate-description {
    text-align: center;
    padding-bottom: 30px;
}

.donate-amount {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    align-items: center;
}

.amount {
    color: #707070;
    background-color: #FAFAFA;
    border-radius: 5px;
    padding: 30px 20px;
}

#color {
    color: #FF5959;
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}

#other-amount {
    color: #B3B3B3;
    text-align: center;
    margin-top: 50px;
}

.second-btn {
    text-align: center;
    margin-top: -100px;
    padding-bottom: 70px;
}

#plan {
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 5px;
    padding: 20px;
}

.flood {
    color: #707070;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 30px;
}

.card {
    display: flex;
    margin: 30px 150px;
}

.card-1 {
    border: 1px;
    text-align: left;
    border-radius: 5px;
    margin: 10px;
    padding: 60px 20px;
    font-size: 15px;
    color: #707070;
}

.card-1 img {
    width: 15%;
    padding-bottom: 30px;
}

.card-header {
    color: #121212;
    font-size: 25px;
    padding-bottom: 15px;
}

#food-card {
    background-color: rgba(79, 157, 166, 0.1);
}

#card-shelter {
    background-color: rgba(255, 89, 89, 0.1);
}

#card-education {
    background-color: #FFFACD;
}

.people-live {
    display: flex;
    margin: 150px;
}

.people-live img {
    width: 450px;
    height: 460px;
    padding-right: 50px;
    border-radius: 10px;
}

#live {
    font-size: 45px;
    font-weight: 700;
}

#live-description {
    font-weight: 400;
    font-size: 15px;
    color: #707070;
    padding-right: 30px;
    padding-bottom: 40px;
}

.people {
    padding: 30px;
}

.updates {
    text-align: center;
    padding-bottom: 50px;
}

#contact {
    color: #707070;
    font-weight: 400;
    font-size: 18px;
}

#updates {
    font-weight: 700;
    font-size: 45px;
}

.contact {
    width: 809px;
    height: 200px;
    background-color: #FFF4D6;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 120px;
    border: 1px solid #FFF4D6;
    border-radius: 10px;

}

#fname {
    width: 275px;
    height: 48px;
    background-color: #D9D9D9;
    padding: 10px 10px 10px 10px;
    margin-left: 190px;
    margin-top: 75px;
    margin-bottom: 75px;
    display: inline-block;
    border-radius: 5px 0px 0px 5px;
    box-sizing: border-box;
}

#submit {
    width: 155px;
    height: 50px;

    background-color: #FF5959;
    color: white;
    padding: 14px 20px;
    margin-left: -4px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

footer {
    background-color: black;
    color: #707070;
    text-align: center;
    padding: 40px;
}

span {
    color: #FF5959;
    font-weight: 900;
    font-size: 36px;
    letter-spacing: 1px;
}