* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;

}


.header {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


}

.button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 15px 20px;
    color: antiquewhite;
    border-radius: 10px;
    font-size: 20px;


}

.header-title {
    font-size: 50px;
    text-align: center;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 60px;
}

.header-description {
    color: white;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 60px;
    text-align: center;

}

.header a {
    margin-left: 42%;
    margin-right: 42%;

}

.donate {
    margin: 10% 25%;
    border-bottom: 1px solid #DADADA;
}

.donate-header {
    text-align: center;
    font-size: 50px;
    padding-bottom: 30px;
}

.donate-description {
    text-align: center;
    padding-bottom: 30px;
}

.donate-amount {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    align-items: center;
}

.amount {
    color: #707070;
    background-color: #FAFAFA;
    border-radius: 5px;
    padding: 30px 20px;
}

#color {
    color: #FF5959;
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}

#other-amount {
    color: #B3B3B3;
    text-align: center;
    margin-top: 50px;
}

.second-btn {
    text-align: center;
    margin-top: -100px;
    padding-bottom: 70px;
}

#plan {
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 5px;
    padding: 20px;
}

#flood {
    color: #707070;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 30px;
}

.card {
    display: flex;
    margin: 30px 150px;
}

.card-1 {
    border: 1px;
    text-align: left;
    border-radius: 5px;
    margin: 10px;
    padding: 60px 20px;
    font-size: 15px;
    color: #707070;
}

.card-1 img {
    width: 15%;
    padding-bottom: 30px;
}

.card-header {
    color: #121212;
    font-size: 25px;
    padding-bottom: 15px;
}

#food-card {
    background-color: rgba(79, 157, 166, 0.1);
}

#card-shelter {
    background-color: rgba(255, 89, 89, 0.1);
}

#card-education {
    background-color: #FFFACD;
}